<header class="page-header">
    <h2>Order Status</h2>
</header>
<div class="row" style="margon-top:0px">
        <ul class="nav nav-tabs col-lg-12">
            <li class="active">
                <a data-target="#tab1" data-toggle="tab" style="background-color:{{colortab1}}" ng-click="selectedTab(1)"
                    ng-init="colortab1 = '#FDFEFE'">Order Status</a>
            </li>
            <li class="active">
                <a data-target="#tab2" data-toggle="tab" style="background-color:{{colortab2}}" ng-click="selectedTab(2)">Order
                    History</a>
            </li>
        </ul>
    </div>
<div class="row" ng-if="$vm.filterModel.selected == 1">
    <div class="div-shadow">
        <div class="form-group" style="margin-top:20px;">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-5 col-md-3 col-xs-12">
                        <span>Order No.</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <input type="text" ng-model="$vm.filterModel.orderNo" class="form-control" placeholder="Key Search"
                            maxlength="15" />
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-4 col-md-3 col-xs-12">
                        <span>Round</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <div class="input-group" style="padding:0!important;">
                            <input type="text" class="form-control" ng-model="$vm.filterModel.roundName">
                            <span class="input-group-btn">
                                <button ng-click='popupRound.onClick()' class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-4 col-md-3 col-xs-12">
                        <span>Route</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <div class="input-group" style="padding:0!important;">
                            <input type="text" class="form-control" ng-model="$vm.filterModel.routeName">
                            <span class="input-group-btn">
                                <button ng-click='popupRoute.onClick()' class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-8 col-md-3 col-xs-12">
                        <span>Delivery Date From</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <dir-date-picker ng-model="$vm.filterModel.deliveryDateFrom"></dir-date-picker>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-8 col-md-3 col-xs-12">
                        <span>Delivery Date To</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <dir-date-picker ng-model="$vm.filterModel.deliveryDateTo"></dir-date-picker>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-4 col-md-3 col-xs-12">
                        <span>Order Type</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <div class="input-group" style="padding:0!important;">
                            <input type="text" class="form-control" ng-model="$vm.filterModel.orderType">
                            <span class="input-group-btn">
                                <button ng-click='popupDocumentType.onClick()' class="btn btn-primary" type="button"
                                    type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right padding-m">
            <button ng-click="filterSearch()" class="btn btn-primary hidden-xs">
                <i class="fa fa-search" aria-hidden="true"></i> Search</button>
            <button ng-click="filterSearch()" class="btn btn-primary btn-block btn-md visible-xs mt-lg">
                <i class="fa fa-search" aria-hidden="true"></i> Search</button>
            <button ng-click="clearSearch()" class="btn btn-success hidden-xs">ClearSearch</button>
            <button ng-click="clearSearch()" class="btn btn-success btn-block btn-md visible-xs mt-lg">ClearSearch</button>
        </div>
    </div>
</div>
<div class="row" ng-if="$vm.filterModel.selected == 2">
    <div class="div-shadow">
        <div class="form-group" style="margin-top:20px;">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-5 col-md-3 col-xs-12">
                        <span>Order No.</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <input type="text" ng-model="$vm.orderHistory.orderNo" class="form-control" placeholder="Key Search"
                            maxlength="15" />
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-4 col-md-3 col-xs-12">
                        <span>Round</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <div class="input-group" style="padding:0!important;">
                            <input type="text" class="form-control" ng-model="$vm.orderHistory.roundName">
                            <span class="input-group-btn">
                                <button ng-click='popupRound.onClick()' class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-4 col-md-3 col-xs-12">
                        <span>Route</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <div class="input-group" style="padding:0!important;">
                            <input type="text" class="form-control" ng-model="$vm.orderHistory.routeName">
                            <span class="input-group-btn">
                                <button ng-click='popupRoute.onClick()' class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-8 col-md-3 col-xs-12">
                        <span>Delivery Date From</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <dir-date-picker ng-model="$vm.orderHistory.deliveryDateFrom"></dir-date-picker>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-8 col-md-3 col-xs-12">
                        <span>Delivery Date To</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <dir-date-picker ng-model="$vm.orderHistory.deliveryDateTo"></dir-date-picker>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="col-lg-4 col-md-3 col-xs-12">
                        <span>Order Type</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <div class="input-group" style="padding:0!important;">
                            <input type="text" class="form-control" ng-model="$vm.orderHistory.orderType">
                            <span class="input-group-btn">
                                <button ng-click='popupDocumentType.onClick()' class="btn btn-primary" type="button"
                                    type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right padding-m">
            <button ng-click="historySearch()" class="btn btn-primary hidden-xs">
                <i class="fa fa-search" aria-hidden="true"></i> Search</button>
            <button ng-click="historySearch()" class="btn btn-primary btn-block btn-md visible-xs mt-lg">
                <i class="fa fa-search" aria-hidden="true"></i> Search</button>
            <button ng-click="clearSearch()" class="btn btn-success hidden-xs">ClearSearch</button>
            <button ng-click="clearSearch()" class="btn btn-success btn-block btn-md visible-xs mt-lg">ClearSearch</button>
        </div>
    </div>
</div>



<document-type-popup-plan-gi on-show='popupDocumentType.onShow' config='popupDocumentType.config' invokes='popupDocumentType.invokes'
    delegates='popupDocumentType.delegates'>
</document-type-popup-plan-gi>
<round-popup on-show='popupRound.onShow' config='popupRound.config' invokes='popupRound.invokes' delegates='popupRound.delegates'>
</round-popup>
<route-popup on-show='popupRoute.onShow' config='popupRoute.config' invokes='popupRoute.invokes' delegates='popupRoute.delegates'>
</route-popup>