<div class="tab-content" ng-show="$vm.isFormTaskCycleCountSummary">
    <header class="page-header">
        <h2>Task Cycle Count</h2>
    </header>
    <div class="form-group">
        <h4>
            <b>Select TASK</b>
        </h4>
    </div>
    <div class="row panel-body">
        <div class="form-group" style="margin-top:15px;">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="col-lg-4 col-md-3 col-xs-12">
                    <span>User </span>
                </div>
                <div class="col-lg-8 col-md-9 col-xs-12">
                    <input type="text" ng-model="filterModel.user_Name" class="form-control" disabled/>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top:15px;">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="col-lg-4 col-md-3 col-xs-12">
                    <span>WG </span>
                </div>
                <div class="col-lg-8 col-md-9 col-xs-12">
                    <select class='form-control' ng-model='dropdownTaskGroup.model' ng-options="v.taskGroup_Name for v in dropdownTaskGroup">
                        <option value="">Please Selected</option>
                    </select>
                    <!-- <input type="text" ng-model="filterModel.taskGroup_Name" class="form-control" disabled blur-on-enter required/> -->
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top:15px;">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="col-lg-4 col-md-3 col-xs-12">
                    <span>Count </span>
                </div>
                <div class="col-lg-8 col-md-9 col-xs-12">
                    <input type="text" ng-model="smodel.cycleCount_No" ks-enter="Scan(smodel)" class="form-control" blur-on-enter
                        required/>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top:15px;">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="col-lg-4 col-md-3 col-xs-12">
                    <span>Location </span>
                </div>
                <div class="col-lg-8 col-md-9 col-xs-12">
                    <input type="text" ng-model="smodel.location_Name" ks-enter="Scan(smodel)" class="form-control" blur-on-enter
                        required/>
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top:15px;">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="col-lg-4 col-md-3 col-xs-12">
                    <span>Count By Product</span>
                </div>
                <div class="col-lg-8 col-md-9 col-xs-12">
                    <label class="ios7-switch ios7-switch-md">
                        <input type="checkbox" ng-click="hide()">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>



        <div class="text-right padding-m">
                <button ng-click="Scan(smodel)"  class="btn btn-primary hidden-xs">Search</button>
                <button ng-click="Scan(smodel)" class="btn btn-primary btn-block btn-md visible-xs mt-lg">Search</button>
            </div>
    </div>


    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-target="#task" ng-click="clickTab(1)" data-toggle="tab"> Task</a>
            </li>
            <li>
                <a data-target="#assign" ng-click="clickTab(2)" data-toggle="tab"> Assign</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="task" class="tab-pane active">
                <div class="table table-overflow">
                    <table class="table table-striped table-bordeered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Task</th>
                                <th>Count No</th>
                                <th>Location</th>
                                <th>Round</th>
                                <th ng-show='sku.chk'>Product</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in listTask">
                                <td>
                                    <button class="btn btn-primary" ng-click="selectData(data)">Select</button>
                                </td>
                                <td>{{data.task_No}}</td>
                                <td>{{data.cycleCount_No}}</td>
                                <td>{{data.location_Name}}</td>
                                <td>{{data.count}}</td>
                                <td  ng-show='sku.chk'>{{data.product_SecondName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="assign" class="tab-pane">
                <div class="table table-overflow">
                    <table class="table table-striped table-bordeered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Task</th>
                                <th>Location</th>
                                <th>Count No</th>
                                <th>Time</th>
                                <th ng-show='sku.chk'>Product</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in listAssign">
                                <td>
                                    <button class="btn btn-primary" ng-click="selectDataAssign(data)">Select</button>
                                </td>
                                <td>{{data.task_No}}</td>
                                <td>{{data.location_Name}}</td>
                                <td>{{data.cycleCount_No}}</td>
                                <td>{{data.time}}</td>
                                <td  ng-show='sku.chk'>{{data.product_SecondName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<taskcyclecount-count is-count="isCount" ng-hide="$vm.isFormTaskCycleCountSummary"></taskcyclecount-count>