<div class="row">
    <!-- search box -->
    <div class="col-lg-6 col-md-3 col-xs-4" style="margin-top:10px; padding-right:0px" ng-hide='model.advanceSearch'>
        <div class="input-group-btn mb-md" style="padding:0!important;">
            <div class="col-lg-4 dropdown display-inline" style="margin-left:-15px;">
                <select ng-model="actionPS" class="form-control" ng-init="actionPS = '1' ">
                    <option value="1">ID</option>
                    <option value="2">Name</option>
                </select>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12" style="padding-left:0px "> 
                <span class="input-group-btn">
                    <div ng-switch="actionPS">
                        <div class="input-group" ng-switch-when="1">
                            <input type="text" ng-model="filterModel.documentTypeId" class="form-control">
                            <span class="input-group-btn">
                                <button ng-click="searchFilter(filterModel)" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                        <div class="input-group" ng-switch-when="2">
                            <input type="text" ng-model="filterModel.documentTypeName" class="form-control">
                            <span class="input-group-btn">
                                <button ng-click="searchFilter(filterModel)" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </span>
            </div>           
        </div>
        <!-- /input-group -->
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3" ng-show='model.advanceSearch'></div>
    <!-- end search box -->
    <div class="col-lg-6 col-md-9 col-xs-8 text-right" style="margin-top: 5px; padding:0px">
        <!-- <button class="ks-btn primary" ng-click="toggleSearch()" style="padding: 8.5px;"> Advance Serach </button> -->
        <button class="btn btn-success" ng-click="$vm.triggerCreate()">
            Create</button>
    </div>
</div>

<div ng-show="$vm.filterModel.advanceSearch" class="row div-shadow default-bg">
    <!--Order No-->
    <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px;">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:10px;">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="vertical-align:middle;line-height:30px;">
                DocumentType Id :
            </div>
            <!-- <div class="col-lg-9 col-md-8 col-sm-12">
                    <input ng-model="model.orderNo" type="text" class="form-control" placeholder="Order NO" />
                </div> -->
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <input ng-model="filterModel.itemStatusId" type="text" class="form-control" />
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:10px;">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="vertical-align:middle;line-height:30px;">
                DocumentType Name :
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <input ng-model="filterModel.itemStatusName" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <!--Search-->
    <div class="col-lg-12 col-md-12 col-sm-12 text-right container-margin" style="padding-right:0px">
        <button ng-click="filter()" class="ks-btn primary" style="margin:5px;min-width:100px"><i class="fa fa-search"
                aria-hidden="true"></i> Search</button>

    </div>
</div>


<!-- <order-history-modal on-show='showHistory.onShow' config='showHistory.config' invokes='showHistory.invokes' delegates='showHistory.delegates'>
</order-history-modal> -->

<!-- <chart-sidebar config='showChart.config' invokes='showChart.invokes' delegates='showChart.delegates' dataset="datalist.items" ></chart-sidebar> -->
<sidebar-chart trigger-search="searchChart" on-show="showchart" dataset="datalist.items" config='showChart.config'></sidebar-chart>