<style>
    .kl-tbl-height {
        overflow-y: auto;
        height: 350px !important;
    }

    table {
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    tbody {
        overflow-y: auto;
        overflow-x: auto;
    }

    thead>tr,
    tbody>tr,
    tfoot>tr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
    }

    thead,
    tfoot {
        flex-shrink: 0;
    }

    th,
    tbody td {
        width: 200%;
        text-overflow: auto;
    }
    .tr80 {
        max-width: 80px;
        min-width: 10px;
    }
</style>

<div class="row" ng-show="$vm.isFilter" style="padding-top:10px;">
    <div class="   table-responsive table-overflow  div-shadow" ng-show="$vm.isFilter" style="margin-bottom:15px;">
        <table class="table table-striped table-bordeered  table-width-200">
            <thead>
                <tr>
                    <th class="text-center">SO No</th>
                    <th class="text-center">ลูกค้า</th>
                    <th class="text-center">เบอร์โทร</th>
                    <th class="text-center">Due Date</th>
                    <th class="text-center tr80">route</th>
                    <th class="text-center tr80">round</th>
                    <th class="text-center">The One Card</th>
                    <th class="text-center">Owner</th>
                    <th class="text-center">SoldTo</th>
                    <th class="text-center">ShipTo</th>
                    <th class="text-center ">So Create date</th>
                    <th class="text-center">Qty(SO)</th>
                    <th class="text-center">Qty(Problem)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in $vm.searchResultModel" ng-if="$vm.searchResultModel.length != 0">
                    <td class="text-center" style="margin-left:15px;">{{data.planGoodsIssueNo}}</td>
                    <td class="text-center">{{data.soldTo_Name_Cus}}</td>
                    <td class="text-center" style="margin-left:15px;">{{data.soldTo_T1CPhone}}</td>
                    <td class="text-center" style="margin-left:-15px;">{{data.planGoodsIssueDueDate|dateFormate}}</td>
                    <td class="text-center tr80">{{data.routeName}}</td>
                    <td class="text-center tr80">{{data.roundName}}</td>
                    <td class="text-center"></td>
                    <td class="text-center" style="margin-left:15px;">{{data.ownerName}}</td>
                    <td class="text-center" style="margin-left:5px;">{{data.soldToName}}</td>
                    <td class="text-center">{{data.shipToName}}</td>
                    <td class="text-center">{{data.planGoodsIssueDate|dateFormate}}</td>
                    <td class="text-center">{{data.planQTY}}</td>
                    <td class="text-center">{{data.qtyBackOrder}}</td>

                </tr>
                <tr ng-if="$vm.searchResultModel.length == 0">
                    <td colspan="11" class="text-center">No Data</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row table-responsive table-overflow " ng-show="$vm.isFilter" style="margin-bottom:15px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " style="margin-top: 15px" ng-show="show.pagination">
            <select class='form-control' style='width:70px;display:inline;' ng-model='$vm.filterModel.perPage' ng-options="v.value as v.value for v in pageOption"
                ng-init='$vm.filterModel.perPage = 30' ng-change='changeTableSize()'>
            </select>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 " style="padding:0px" ng-show="show.pagination">
            <ul uib-pagination total-items="$vm.filterModel.totalRow" ng-change='changePage()' items-per-page="$vm.filterModel.perPage"
                num-pages="$vm.filterModel.num" ng-model="$vm.filterModel.currentPage" max-size="$vm.filterModel.maxSize" class="pull-right"
                boundary-link-numbers="true" rotate="false"></ul>
        </div>
    </div>
</div>

<call-center-form on-show="onShow" ng-hide="$vm.isFilter"> </call-center-form>
<reason-code-popup on-show='popupReasonCode.onShow' config='popupReasonCode.config' invokes='popupReasonCode.invokes' delegates='popupReasonCode.delegates'>
</reason-code-popup>