<!-- <style>
    /* .sortorder:after {
        content: '\25b2'; 
        }
    .sortorder.reverse:after {
        content: '\25bc';
        } */

    table {
        display: flex;
        flex-direction: column;
        height: 400px;
    }   

    tbody {
        overflow-y: auto;
        overflow-x: auto;
    }

    thead>tr,
    tbody>tr,
    tfoot>tr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
    }

    thead,
    tfoot {
        flex-shrink: 0;
    }

    th,
    tbody td {
        width: 400%;
        text-overflow: auto;
    }



    .text-fixed-width {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .tooltip-inner {
        min-width: 250px;
    }

    .tr320 {
        max-width: 320px;
        min-width: 320px;
    }

    .tr250 {
        max-width: 250px;
        min-width: 150px;
    }

    .tr180 {
        max-width: 180px;
        min-width: 120px;
    }
    .tr120 {
        max-width: 180px;
        min-width: 50px;
    }
    .tr80 {
        max-width: 180px;
        min-width: 10px;
    }

</style> -->
<style>
    /* .sortorder:after {
            content: '\25b2'; 
            }
        .sortorder.reverse:after {
            content: '\25bc';
            } */

    table {
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    tbody {
        overflow-y: auto;
        overflow-x: auto;
    }

    thead>tr,
    tbody>tr,
    tfoot>tr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
    }

    thead,
    tfoot {
        flex-shrink: 0;
    }

    th,
    tbody td {
        width: 100%;
        text-overflow: auto;
    }
</style>
<!-- <button class="btn btn-success" ng-click="exportExcelFile.ExportExcelSKU()">
    Excel</button> -->
<div class="row   table-responsive table-overflow  div-shadow" ng-show="$vm.isFilter" style="margin-bottom:15px;">
    <table class="table table-striped table-bordeered  table-width-150">
        <thead>
            <tr>
                <th class="text-center {{ddl}}" style="width: 10%;">
                    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown" ng-click="ddlClick()">Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation" ng-click="$vm.productConversion($vm.searchResultModel)">
                            <a role="menuitem" tabindex="-1">Product Conversion</a>
                        </li>
                        <li role="presentation" ng-click="$vm.stockdetail($vm.searchResultModel)">
                            <a role="menuitem" tabindex="-1">Stock Detail</a>
                        </li>
                        <li role="presentation" ng-click="$vm.allocated($vm.searchResultModel)">
                            <a role="menuitem" tabindex="-1">Allocated By</a>
                        </li>
                    </ul>
                </th>
                <th class="text-center" style="width: 10%;">No.</th>
                <th class="text-center" style="width: 20%;">SKU ID</th>
                <th style="width: 30%;">SKU Name</th>
                <th class="text-center" style="width: 20%;">Stock on Hand</th>
                <th class="text-center" style="width: 20%;">Stock Allocated</th>
                <th class="text-center" style="width: 20%;">Stock Available</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in $vm.searchResultModel" ng-if="$vm.searchResultModel.length != 0">
                <td class="text-center" style="width: 10%;">
                    <div class="ig-control">
                        <input ng-model="data.selected" ng-click="clearCheck($index)" type="checkbox" id="check_{{$index}}" class="ig-control__cbx"
                            checked />
                        <label for="check_{{$index}}"></label>
                    </div>
                </td>
                <td class="text-center" style="width: 10%;">{{$index+1}}</td>
                <td class="text-center" style="width: 20%;">{{data.productId}}</td>
                <td style="width: 30%;">{{data.productName}}</td>
                <td class="text-center" style="width: 20%;">{{data.stockONHand}}</td>
                <td class="text-center" style="width: 20%;">{{data.stockAllocated}}</td>
                <td class="text-center" style="width: 20%;">{{data.stockAvailable}}</td>
            </tr>
            <tr ng-if="$vm.searchResultModel.length == 0">
                <td colspan="11" class="text-center">No Data</td>
            </tr>
        </tbody>
    </table>
    <!-- </div> -->
    <!-- </div> -->
</div>
<div class="row table-responsive table-overflow" ng-show="$vm.isFilter" style="margin-bottom:15px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " style="padding-top:0px;margin-top:20px" ng-show="show.pagination">
            <select class='form-control' style='width:70px;display:inline;' ng-model='$vm.filterModel.perPage'
                ng-options="v.value as v.value for v in pageOption" ng-init='$vm.filterModel.perPage = 1000' ng-change='changeTableSize()'>
            </select>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 " style="padding:0px" ng-show="show.pagination">
            <ul uib-pagination total-items="$vm.filterModel.totalRow" ng-change='changePage()' items-per-page="$vm.filterModel.perPage"
                num-pages="$vm.filterModel.num" ng-model="$vm.filterModel.currentPage" max-size="$vm.filterModel.maxSize" class="pull-right"
                boundary-link-numbers="true" rotate="false"></ul>
        </div>
    </div>
</div>

<sku-product-conversion is-loading="isLoading" ng-hide="$vm.isFilter"> </sku-product-conversion>
<sku-stock-detail is-stock="isStock" ng-hide="$vm.isFilter"> </sku-stock-detail>
<sku-allocated is-allocated="isAllocated" ng-hide="$vm.isFilter"> </sku-stock-detail>