<header class="page-header">
    <h2>Home</h2>
</header>

<div class="mainpage-contant row">
    <div class="col-md-12">

        <div class="row ">
            <div class="col-md-6 col-md-offset-3 text-center mainpage-text-header" style="font-weight:700;">
                Omni Fulfillment Center
            </div>
        </div>


        <!-- <div class="row " style="margin:55px;">
            <div class="col-md-3 col-xs-6 mainpage-border" style="padding:25px;">
                <div class=""><img src="styles/img/mainpage_login.png"></div>
                <a href="#">UPDATE PROFILE</a>
            </div>
            <div class="col-md-3 col-xs-6 mainpage-border" style="padding:25px;">
                <div class=""><img src="styles/img/mainpage_contant.png"></div>

                <a href="#">UPDATE PROFILE</a>
            </div>
            <div class="col-md-6">

                <div class="horizontal-line" style="margin: 5px 0;"></div>
                <div class="" style="padding-left:25px;">
                    <a href="#"> READ MORE</a>
                </div>
                <div class="horizontal-line" style="margin: 5px 0;"></div>
                <div style="padding-left:25px;">
                    <a class="btn btn-mainpage" href="#" role="button">Report</a>
                    <a class="btn btn-mainpage" href="#" role="button">Dashboard</a>
                    <a class="btn btn-mainpage" href="#" role="button">Logout</a>
                </div>
            </div>
        </div> -->

    </div>
</div>